.monitoring-layout {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 50% 50%;
  height: 100vh;
  gap: 10px;
  padding: 10px;
}

.sidebar {
  grid-row: 1 / span 2; /* nimmt beide Zeilen der linken Spalte ein */
  background: #f7f7f7;
  padding: 1rem;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.top-right {
  grid-column: 2;
  grid-row: 1;
  background: #fff;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.bottom-right {
  grid-column: 2;
  grid-row: 2;
  background: #eee;
  padding: 1rem;
  overflow-y: auto;
}
.node-active {
  fill: #4caf50; /* grün */
}

.node-inactive {
  fill: #f44336; /* rot */
}
