/* src/app/features/source-system/components/create-source-system/create-source-system.component.css */

.big-dialog .p-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .p-field label {
    font-weight: 600;
  }
  
  .p-field input,
  .p-field .p-dropdown {
    width: 100%;
  }