[SERVICE]
  Flush        5
  Log_Level    info
  Parsers_File parsers.conf
  
  [INPUT]
  Name              tail
  Path              /var/log/*.log
  Parser            docker
  Tag               app-log
  
  [OUTPUT]
  Name  es
  Match *
  Host  elasticsearch
  Port  9200
  Index fluentbit
  Type  _doc
