<p-dialog header="Edit Node Name" [(visible)]="visible" [modal]="true" [closable]="false" [style]="{ width: '420px' }">
  <form (ngSubmit)="submit()" class="p-fluid">
    
    <div class="form-field">
      <label for="name-value">Node Name</label>
      <input id="name-value" name="name-value" type="text" [(ngModel)]="newName" placeholder="Enter Node Name" class="form-input" required />
    </div>

    <!-- MARK: Form Actions -->
    <div class="form-actions">
      <p-button id="save-button" label="Save" icon="pi pi-save" type="submit" styleClass="save-btn"></p-button>
      <p-button id="cancel-button" label="Cancel" icon="pi pi-times" type="button" (click)="closeModal()" styleClass="cancel-btn p-button-secondary"></p-button>
    </div>
  </form>
</p-dialog>
