<!-- MARK: VFlow -->
<div id="vflow-container" (click)="storeMousePosition($event)" (contextmenu)="onCanvasRightClick($event)"
  #canvasContainer srClickOutside (srClickOutside)="onOutsideCanvas($event)">
  <vflow view="auto" [nodes]="nodes" [edges]="edges"
    [background]="{ type: 'dots', backgroundColor: 'var(--sr-canvas-bg)' }" (click)="onCanvasClick($event)"
    (onConnect)="addEdge($event)" (onNodesChange.position)="onNodePositionChange($event)"
    (onNodesChange.select)="onNodeSelect($event)" (onEdgesChange.select)="onEdgeSelect($event)" />
</div>

<!-- MARK: Type Error Modal -->
<div *ngIf="showTypeIncompatibilityModal" class="modal-backdrop">
  <div class="error-modal" role="dialog" aria-modal="true" (click)="closeTypeIncompatibilityModal()">
    <!-- Modal Header -->
    <h3>
      <span>⚠️</span>
      {{ lastAttemptedConnection ? 'Type Incompatibility' : 'Source Incompatibility' }}
    </h3>

    <!-- Modal Body -->
    <p class="error-message">{{ typeIncompatibilityMessage }}</p>
    <div *ngIf="lastAttemptedConnection">
      <div>Source: <b>{{ lastAttemptedConnection!.sourceType }}</b></div>
      <div>Target: <b>{{ lastAttemptedConnection!.targetType }}</b></div>
    </div>
    <p class="error-note" *ngIf="lastAttemptedConnection">These data types are not compatible.</p>

    <!-- Modal Footer -->
    <button id="close-incompatibility-modal-button" (click)="closeTypeIncompatibilityModal()">✓ OK</button>
  </div>
</div>

<!-- MARK: Node Menu -->
<div *ngIf="showNodeContextMenu && selectedNode" class="context-menu" role="menu"
  [style.left.px]="nodeContextMenuPosition.x" [style.top.px]="nodeContextMenuPosition.y"
  (click)="$event.stopPropagation()">
  <ng-container *ngFor="let item of selectedNode.contextMenuItems">
    <div *ngIf="hasLabel(item)" class="context-menu-item" (click)="runAction(item)">
      {{ getLabel(item) }}
    </div>

    <!-- Horizontal line before submenu -->
    <hr *ngIf="hasSubmenu(item)" class="submenu-divider" />

    <!-- Embedded Submenu -->
    <div *ngIf="hasSubmenu(item)">
      <div class="submenu-grid">
        <div *ngFor="let subItem of getSubmenu(item)" class="submenu-item" role="menuitem" (click)="runAction(subItem)">
          {{ getLabel(subItem) }}
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!-- MARK: Node Suggestions -->
<div *ngIf="showSuggestions" class="suggestions-menu" [style.left.px]="nodeContextMenuPosition.x + 140"
  [style.top.px]="nodeContextMenuPosition.y" role="menu">
  <ul>
    <li *ngFor="let suggestion of suggestions" (click)="onSuggestionSelected(suggestion)">
      {{ suggestion.operatorName }}
    </li>
  </ul>
</div>

<!-- MARK: Edge Menu -->
<div *ngIf="showEdgeContextMenu" class="context-menu" [style.left.px]="edgeContextMenuPosition.x"
  [style.top.px]="edgeContextMenuPosition.y" (click)="$event.stopPropagation()">
  <button id="delete-edge-button" (click)="deleteSelectedEdge($event)">Delete Edge</button>
</div>

<!-- MARK: Modals -->
<!-- Set Node Name -->
<app-set-node-name-modal [(visible)]="editNodeNameModalOpen" (visibleChange)="editNodeNameModalOpen = $event"
  [currentName]="getNodeName(nodeBeingEdited)" (save)="onNodeNameSaved($event)" (close)="closeModals()">
</app-set-node-name-modal>

<!-- Set Provider JSON Path -->
<app-set-json-path-modal [(visible)]="editJsonPathModalOpen" (visibleChange)="editJsonPathModalOpen = $event"
  [currentJsonPath]="getNodeJsonPath(nodeBeingEdited)" (save)="onJsonPathSaved($event)" (modalsClosed)="closeModals()">
</app-set-json-path-modal>

<!-- Set Constant Value -->
<app-set-constant-value-modal [(visible)]="editNodeValueModalOpen" (visibleChange)="editNodeValueModalOpen = $event"
  [currentValue]="getNodeValue(nodeBeingEdited)" (save)="onValueSaved($event)" (modalsClosed)="closeModals()">
</app-set-constant-value-modal>

<!-- Set Schema -->
<app-set-schema-modal [(visible)]="editSchemaModalOpen" (visibleChange)="editSchemaModalOpen = $event"
  [currentSchema]="getNodeSchema(nodeBeingEdited)" (save)="onSchemaSaved($event)" (modalsClosed)="closeModals()">
</app-set-schema-modal>

<!-- Change constant node data type + edge removal -->
<div *ngIf="showRemoveEdgesModal" class="modal-backdrop"></div>
<div id="pending-edge-removal-modal" *ngIf="showRemoveEdgesModal">
  This action sets a new data type of this node and will remove all connected edges.

  <button (click)="confirmRemoveEdges()">
    <span class="pi pi-verified"></span>
    Continue
  </button>
  <button (click)="cancelRemoveEdges()">
    <span class="pi pi-times-circle"></span>
    Cancel
  </button>
</div>
