<p-panel header="Target Directives" [toggleable]="true" styleClass="h-full flex flex-column">
  <p-table 
    [value]="activeArcs" 
    [loading]="isLoading" 
    responsiveLayout="scroll" 
    styleClass="flex-grow-1"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Alias</th>
        <th>Target System</th>
        <th style="width: 5rem;">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-arc>
      <tr>
        <td>{{ arc.alias }}</td>
        <td>{{ arc.targetSystemName }}</td>
        <td>
          <p-button 
            icon="pi pi-trash" 
            styleClass="p-button-rounded p-button-danger p-button-text"
            (click)="removeArc(arc.id)"
            pTooltip="Remove Directive"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3" class="text-center">No directives are configured for this Transformation.</td>
      </tr>
    </ng-template>
  </p-table>

  <ng-template pTemplate="footer">
    <div class="flex gap-2">
      <p-button label="Create New" icon="pi pi-plus" (click)="showArcWizard()"></p-button>
      <p-button label="From Library" icon="pi pi-book" styleClass="p-button-secondary" (click)="showLibrary()"></p-button>
    </div>
  </ng-template>
</p-panel>

<!-- Dialog for Library -->
<p-dialog header="ARC Library" [(visible)]="displayLibrary" [modal]="true" [style]="{width: '50vw'}">
  <p-accordion [multiple]="true">
    <p-accordionTab *ngFor="let system of librarySystems" [header]="system.name" (click)="onSystemExpand(system)">
      <div *ngIf="system.isLoading" class="text-center p-2">
        <p-progressSpinner styleClass="w-2rem h-2rem"></p-progressSpinner>
      </div>
      <ul *ngIf="!system.isLoading" class="list-none p-0 m-0">
        <li *ngFor="let arc of system.arcs" class="flex align-items-center justify-content-between p-2 border-bottom-1 surface-border">
          <span>{{ arc.alias }}</span>
          <p-button label="Hinzufügen" icon="pi pi-check" styleClass="p-button-sm" (click)="addArc(arc.id)"></p-button>
        </li>
        <li *ngIf="system.arcs.length === 0" class="p-2 text-center text-muted">
            There were no ARCs created for this Target System yet.
        </li>
      </ul>
    </p-accordionTab>
  </p-accordion>
</p-dialog>

<!-- Target ARC Wizard -->
<app-target-arc-wizard 
  *ngIf="isWizardVisible" 
  [(visible)]="isWizardVisible" 
  (saveSuccess)="onWizardSaveSuccess()">
</app-target-arc-wizard>

