<p-panel header="Target Directives" [toggleable]="true" styleClass="h-full flex flex-column">

  <p-treeTable
    [value]="activeArcsTree"
    [loading]="isLoading"
    styleClass="compact-treetable flex-grow-1"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 75%;">Name</th>
        <th style="width: 25%;">Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr>
        <td>
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          {{ rowData.name }}
        </td>
        <td>
          <p-button
            *ngIf="rowData.type === 'arc'"
            icon="pi pi-trash"
            styleClass="p-button-rounded p-button-danger p-button-text"
            (click)="removeArc(rowData.id)"
            pTooltip="Remove Directive"
          ></p-button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="2" class="text-center">No directives are configured for this Transformation.</td>
      </tr>
    </ng-template>
  </p-treeTable>

  <ng-template pTemplate="footer">
    <div class="flex gap-2">
      <p-button label="Create New" icon="pi pi-plus" (click)="showArcWizard()"></p-button>
      <p-button label="From Library" icon="pi pi-book" styleClass="p-button-secondary" (click)="showLibrary()"></p-button>
    </div>
  </ng-template>
</p-panel>

<!-- Dialog for Library -->
<p-dialog header="ARC Library" [(visible)]="displayLibrary" [modal]="true" [style]="{width: '50vw'}">
  <p-accordion [multiple]="true" (onOpen)="onTabOpen($event)">
    <p-accordionTab *ngFor="let system of librarySystems" [header]="system.name">

      <div *ngIf="system.isLoading" class="text-center p-2">
        <p-progressSpinner styleClass="w-2rem h-2rem"></p-progressSpinner>
      </div>

      <ul *ngIf="!system.isLoading" class="list-none p-0 m-0">
        <li *ngFor="let arc of system.arcs" class="flex align-items-center justify-content-between p-2 border-bottom-1 surface-border">
          <span>{{ arc.alias }}</span>

          <p-button
            [label]="activeArcIds.has(arc.id) ? 'Added' : 'Add'"
            [icon]="activeArcIds.has(arc.id) ? 'pi pi-check' : 'pi pi-plus'"
            [styleClass]="'p-button-sm' + (activeArcIds.has(arc.id) ? ' p-button-success' : '')"
            [disabled]="activeArcIds.has(arc.id)"
            (click)="addArc(arc.id)">
          </p-button>

        </li>
        <li *ngIf="system.arcs.length === 0" class="p-2 text-center text-muted">
            There were no ARCs created for this Target System yet.
        </li>
      </ul>
    </p-accordionTab>

  </p-accordion>
</p-dialog>

<!-- Target ARC Wizard -->
<app-target-arc-wizard
  *ngIf="isWizardVisible"
  [(visible)]="isWizardVisible"
  (saveSuccess)="onWizardSaveSuccess($event)">
</app-target-arc-wizard>
