:host ::ng-deep .schema-tree .p-treenode-label {
    font-size: 0.9em;
}

:host ::ng-deep .schema-tree .p-tree-toggler {
    margin-right: .2rem !important;
}

:host ::ng-deep .schema-tree .p-treenode-icon {
    margin-right: .2rem !important;
}

.entity-container {
    border: 1px solid #dee2e6;
    border-radius: 3px;
    padding: 0.5rem;
    margin-bottom: 0.5rem !important;
}
.h-full {
    height: 100%;
}
:host {
  /* Make the host element a flex container that fills its parent */
  display: flex;
  height: 100%;
}

:host ::ng-deep p-panel.h-full {
  /* The panel should grow to fill the host element */
  flex: 1;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep p-panel.h-full .p-panel-content {
  /* The panel's content area should grow to fill the remaining space */
  flex: 1;
  padding: 0; /* The scroll panel will provide its own padding */
  /* This is a key flexbox property to allow content to shrink correctly */
  min-height: 0;
}

:host ::ng-deep .p-panel-content .p-scrollpanel-content {
  /* Provide padding inside the scrollable area */
  padding: 1rem;
}
