div {
  width: 100px;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 10001;
  color: rgb(14, 13, 13);
  background: aliceblue;
}
