<main class="main">
  <h1>
    Synchronization Rules
  </h1>

  <div class="content-wrapper">
    <div class="content">
      <div class="extra-actions">
        <div class="search-input-wrapper">
          <input type="search" placeholder="Search for rule name...">
          <span class="material-symbols-rounded">search</span>
        </div>
        <button (click)="showCreationPopup = true">
          <span class="material-symbols-rounded">
            add
          </span>
        </button>
      </div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Polling Rate</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rule of rules">
            <td>{{ rule.name }}</td>
            <td>{{ rule.type }}</td>
            <td>{{ rule.pollingRate }} {{ rule.pollingRateUnit }}</td>
            <td>active</td>
            <td>
              <button>
                <span class="material-symbols-rounded">
                  toggle_on
                </span>
              </button>
              <button (click)="editRule(rule)">
                <span class="material-symbols-rounded">
                  edit
                </span>
              </button>
              <button>
                <span class="material-symbols-rounded">
                  delete
                </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="showCreationPopup" class="popup">
    <app-create-rule (closed)="showCreationPopup = false" (created)="addRule($event)">
    </app-create-rule>
  </div>
  <div *ngIf="showSettingsPopup" class="popup">
    <app-edit-rule-settings (closed)="showSettingsPopup = false">
    </app-edit-rule-settings>
  </div>
</main>
