<div class="flex">
  <!-- Home-Button -->
  <button *ngIf="!sidebarVisible" (click)="sidebarVisible = true">
    <i class="pi pi-home"></i>
  </button>

  <!-- Sidebar -->
  <div *ngIf="sidebarVisible" class="w-60">
    <app-sidebar-menu
      (sidebarVisibleChange)="onSidebarToggle($event)">
    </app-sidebar-menu>
  </div>

  <!-- Hauptinhalt -->
  <div [class.flex-1]="!sidebarVisible" [class.w-full]="sidebarVisible" class="p-5">
    <p-button label="Toggle Dark Mode" (onClick)="toggleDarkMode()"/>
    <router-outlet></router-outlet>
  </div>
</div>
<p-toast></p-toast>
