<p-splitter [panelSizes]="[50, 50]" [style]="{ height: '100vh' }" >
  <ng-template pTemplate="panel">
    <div class="sidebar">
      <div class="sidebar-header">
        <h1>Monitoring</h1>
        <app-search-bar (search)="onSearch($event)"></app-search-bar>
      </div>
      <app-graph-panel (nodeSelected)="onNodeSelected($event)" [searchTerm]="searchTerm"></app-graph-panel>
    </div>
  </ng-template>
  <ng-template pTemplate="panel" >
    <p-tabs value="/dashboard" class="w-full flex">
      <p-tablist>
        @for(tab of tabs; track tab.route){
          <p-tab [value]="tab.route" [routerLink]="tab.route" class="flex items-center !gap-2 text-inherit">
            <i [class]="tab.icon"></i>
            <span>{{ tab.label }}</span>
          </p-tab>
        }
      </p-tablist>
      <router-outlet></router-outlet>
    </p-tabs>
  </ng-template>
</p-splitter>
