.monitoring-layout {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 100vh;
  gap: 5px;
  color: #f0f0f0;
}

.sidebar {
  grid-row: 1 / span 2; /* nimmt beide Zeilen der linken Spalte ein */
  background: var(--p-surface-color);
}

.top-right {
  grid-column: 2;
  grid-row: 1;
  background: var(--p-surface-color);
  border-bottom: 1px solid #444;
  padding: 1rem;
}

.bottom-right {
  grid-column: 2;
  grid-row: 2;
  background: var(--p-surface-color);
  padding: 1rem;
  overflow-y: auto;
}

h1 {
  color: var(--p-text-color);
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
}

.sidebar h1 {
  margin-top: 0;
  color: #ffffff;
}

:host ::ng-deep .p-splitter,
:host ::ng-deep .p-splitter-panel {
  height: 100% !important;
  width: 100% !important;
}

.sidebar, .top-right, .bottom-right {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
