.monitoring-layout {
  gap: 5px;
  color: var(--p-surface-color);
}

.sidebar {
  grid-row: 1 / span 2; /* nimmt beide Zeilen der linken Spalte ein */
  background: var(--p-surface-color);
}

h1 {
  color: var(--p-text-color);
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
}

:host ::ng-deep .p-splitter,
:host ::ng-deep .p-splitter-panel {
  height: 100% !important;
  width: 100% !important;
}

.sidebar, .top-right, .bottom-right {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.w-full {
  width: 100%;
}
.flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.w-full {
  width: 100%;
}
