<p-splitter [panelSizes]="[60, 40]">
  <ng-template pTemplate="panel">
    <div class="sidebar">
      <div class="sidebar-header">
        <h1>Monitoring</h1>
        <app-search-bar (search)="onSearch($event)"></app-search-bar>
      </div>
      <app-graph-panel (nodeSelected)="onNodeSelected($event)" [searchTerm]="searchTerm"></app-graph-panel>
    </div>
  </ng-template>
  <ng-template pTemplate="panel">
    <p-tabs class="w-full flex flex-grow-1">
      <p-tablist>
        @for(tab of tabs; track tab.route){
          <p-tab [value]="tab.route" [routerLink]="tab.route" [queryParams]="{input: selectedNodeId}">
            <i [class]="tab.icon"></i>
            <span>{{ tab.label }}</span>
          </p-tab>
        }
      </p-tablist>
      <div style="height: 100%; overflow: auto;">
        <router-outlet></router-outlet>
      </div>
    </p-tabs>
  </ng-template>
</p-splitter>
