<p-sidebar [(visible)]="sidebarVisible" [showCloseIcon]="false" [modal]="false" [baseZIndex]="10000" [closeOnEscape]="false" [blockScroll]="true">
  <div class="sidebar-header">
    <h3>Configurator</h3>
    <button class="close-button" (click)="sidebarVisible = false">X</button>
  </div>
  <div class="sidebar-content">
    <nav>
      <ul class="nav-list">
        <li>
          <a routerLink="/configs" routerLinkActive="active-link" (click)="keepSidebarOpen()">Configs</a>
        </li>
        <li>
          <a routerLink="/sync-rules" routerLinkActive="active-link" (click)="keepSidebarOpen()">Sync rules</a>
        </li>
        <li>
          <a routerLink="/transformation-scripts" routerLinkActive="active-link" (click)="keepSidebarOpen()">Transformation scripts</a>
        </li>
        <li>
          <a routerLink="/ass" routerLinkActive="active-link" (click)="keepSidebarOpen()">ASS-management</a>
        </li>
        <li>
          <a routerLink="/edc" routerLinkActive="active-link" (click)="keepSidebarOpen()">EDC-management</a>
        </li>
      </ul>
    </nav>
  </div>
</p-sidebar>
