.close-button {
  background: none !important; /* Entfernt die grüne Hintergrundfarbe */
  color: inherit; /* Verwendet die Standard-Schriftfarbe */
  border: none; /* Entfernt jegliche Rahmen */
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0; /* Entfernt unnötige Innenabstände */
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
}

.nav-list a {
  display: block;
  padding: 1rem 1rem;
  border-radius: 6px;
  color: #333;
  text-decoration: none;
  transition: background 0.2s, color 0.2s;
}

.nav-list a:hover {
  background: #f0f0f0;
  color: #007ad9;
}

.active-link {
  background: #007ad9;
  color: #fff !important;
  font-weight: bold;
}

.sidebar-content{
  color: midnightblue;
}

.custom-sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  z-index: 10000;
}

.custom-sidebar.visible {
  left: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.sidebar-content {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 9999;
}

.nav-list a i {
  margin-right: 0.5rem; /* Abstand zwischen Icon und Text */
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-list.bottom-links {
  position: absolute;
  bottom: 0;
  width: 268px;
}
