.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-header h3 {
  margin: 0;
}

.close-button {
  background: none !important; /* Entfernt die grüne Hintergrundfarbe */
  color: inherit; /* Verwendet die Standard-Schriftfarbe */
  border: none; /* Entfernt jegliche Rahmen */
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0; /* Entfernt unnötige Innenabstände */
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
}

.nav-list li {
  margin-bottom: 0.7rem;
}

.nav-list a {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  color: #333;
  text-decoration: none;
  transition: background 0.2s, color 0.2s;
}

.nav-list a:hover {
  background: #f0f0f0;
  color: #007ad9;
}

.active-link {
  background: #007ad9;
  color: #fff !important;
  font-weight: bold;
}

.sidebar-content{
  color: midnightblue;
}

body .p-sidebar-mask {
  pointer-events: none; /* deaktiviert Klicks auf Overlay */
  background: transparent; /* entfernt grauen Hintergrund */
}
body .p-sidebar {
  pointer-events: auto; /* erlaubt Klicks innerhalb der Sidebar */
}

