<p-sidebar [(visible)]="sidebarVisible" [showCloseIcon]="false">
  <div class="sidebar-header">
    <h3>Configurator</h3>
    <button class="close-button" (click)="sidebarVisible = false">X</button>
  </div>
  <div class="sidebar-content">
    <nav>
      <ul class="nav-list">
        <li>
          <a routerLink="/configs" routerLinkActive="active-link">Configs</a>
        </li>
        <li>
          <a routerLink="/sync-rules" routerLinkActive="active-link">Sync rules</a>
        </li>
        <li>
          <a routerLink="/transformation-scripts" routerLinkActive="active-link">Transformation scripts</a>
        </li>
        <li>
          <a routerLink="/ass" routerLinkActive="active-link">ASS-management</a>
        </li>
        <li>
          <a routerLink="/edc" routerLinkActive="active-link">EDC-management</a>
        </li>
      </ul>
    </nav>
  </div>
</p-sidebar>

<p-button (onClick)="test()" icon="pi pi-home"></p-button>
