.nav-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
}

.nav-list a {
  display: block;
  padding: 0.7rem 1rem;
  border-radius: 6px;
  color: var(--p-text-color);
  text-decoration: none;
  transition: background 0.2s, color 0.2s;
}

  .nav-list a:hover {
  background: #f0f0f0;
  color: var(--p-primary-color);
}

.active-link {
  background: var(--p-primary-color);
  color: #fff !important;
}

.custom-sidebar {
  position: fixed;
  top: 0;
  left: 0px;
  margin-right: 10px;
  width: 300px;
  height: 100%;
  background: var(--p-surface-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}


.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.sidebar-content {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.nav-list a i {
  margin-right: 0.5rem; /* Abstand zwischen Icon und Text */
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Footer links at the bottom of the sidebar */
.nav-list.bottom-links {
  position: absolute;
  bottom: 0;
  width: 268px;
}

strong {
  font-size: 1.2rem;      /* macht es größer */
  margin-top: -10px;      /* verschiebt es nach oben */
  margin-left: 1rem;      /* verschiebt es nach rechts */
}
