.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

:host ::ng-deep .p-dialog .p-dialog-content {
  overflow-y: auto;
  padding-bottom: 10rem;
}
