@import '../node-shared.css';

.logic-node {
	background: #1565c0;
	border: 3px solid #0d47a1;
	color: #fff;
	align-items: flex-start;
	justify-content: center;
}

.input-handles {
  position: absolute;
  left: -12px;
  top: 0;
  height: 100%;
  width: 0;
  pointer-events: none;
}

.input-handle-wrapper {
  position: absolute;
  left: 0;
  width: 0;
  transform: translateY(-50%);
  pointer-events: auto;
}

