<p-dialog
  header="Create Target System"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '60vw', height: '90vh' }"
  (onHide)="cancel()"
>
  <p-steps [model]="steps" [activeIndex]="currentStep" class="mb-4"></p-steps>

  <ng-container *ngIf="currentStep === 0">
    <form [formGroup]="form" class="p-fluid p-formgrid p-grid" style="margin: 1.5rem 0; padding: 1rem;">
      <div class="p-field p-col-12 p-md-6" style="margin-bottom: 1rem;">
      <label for="name">Name</label>
      <input id="name" type="text" pInputText formControlName="name"/>
    </div>
    <div class="p-field p-col-12 p-md-6" style="margin-bottom: 1rem;">
      <label for="apiUrl">API URL</label>
      <input id="apiUrl" type="text" pInputText formControlName="apiUrl"/>
    </div>
    <div class="p-field p-col-12" style="margin-bottom: 1rem;">
      <label for="description">Description</label>
      <textarea id="description" rows="3" pInputTextarea formControlName="description" style="width: 100%;"></textarea>
    </div>
    <div class="p-field p-col-12 p-md-6" style="margin-bottom: 1rem;">
      <label for="apiType">Type*</label>
      <p-dropdown id="apiType" [options]="typeOptions" formControlName="apiType"></p-dropdown>
    </div>
    <div class="p-field p-col-12 p-md-6" style="margin-bottom: 1rem;">
      <label for="apiAuthType">Authentication</label>
      <p-dropdown id="apiAuthType" [options]="authTypeOptions" formControlName="apiAuthType"></p-dropdown>
    </div>
    <div class="p-col-12 p-formgrid p-grid" formGroupName="authConfig">
      <ng-container *ngIf="form.get('apiAuthType')?.value === ApiAuthType.Basic">
        <div class="p-field p-col-12 p-md-6" style="margin-bottom: 1rem;">
          <label for="username">Username*</label>
          <input id="username" type="text" pInputText formControlName="username"/>
        </div>
        <div class="p-field p-col-12 p-md-6" style="margin-bottom: 1rem;">
          <label for="password">Password*</label>
          <input id="password" type="password" pInputText formControlName="password"/>
        </div>
      </ng-container>
      <ng-container *ngIf="form.get('apiAuthType')?.value === ApiAuthType.ApiKey">
        <div class="p-field p-col-12 p-md-6" style="margin-bottom: 1rem;">
          <label for="apiKey">API Key*</label>
          <input id="apiKey" type="text" pInputText formControlName="apiKey"/>
        </div>
        <div class="p-field p-col-12 p-md-6" style="margin-bottom: 1rem;">
          <label for="headerName">Header Name*</label>
          <input id="headerName" type="text" pInputText formControlName="headerName"/>
        </div>
      </ng-container>
    </div>
    <div class="p-field p-col-12 p-md-6" style="margin-bottom: 1rem;">
      <label for="openApiSpec">OpenAPI Spec URL</label>
      <input id="openApiSpec" type="text" pInputText formControlName="openApiSpec" placeholder="https://..."/>
    </div>
    <div class="p-field p-col-12 p-md-6" style="margin-bottom: 1rem;">
      <label>OR Upload File</label>
      <p-fileupload #fu mode="basic"
                    [auto]="false"
                    [showUploadButton]="false"
                    [showCancelButton]="false"
                    accept=".json,.yaml,.yml"
                    (onSelect)="onFileSelected($event)"/>
      <small *ngIf="selectedFile">{{ selectedFile.name }}</small>
    </div>
    </form>
  </ng-container>

  <div *ngIf="currentStep === 1" style="margin-top:1rem;">
    <app-manage-api-headers [syncSystemId]="createdTargetSystemId" [allowValues]="true"></app-manage-api-headers>
  </div>

  <div *ngIf="currentStep === 2" style="margin-top:1rem;">
    <app-manage-target-endpoints [targetSystemId]="createdTargetSystemId"></app-manage-target-endpoints>
  </div>

  <ng-template pTemplate="footer">
    <div class="p-d-flex p-jc-between">
      <button pButton type="button" label="Back" class="p-button-text" (click)="goBack()" [disabled]="currentStep === 0"></button>
      <button *ngIf="currentStep === 0 || currentStep === 1" pButton type="button" label="Next" (click)="goNext()" [disabled]="currentStep === 0 ? form.invalid : false"></button>
      <button *ngIf="currentStep === 2" pButton type="button" label="Finish" (click)="cancel()"></button>
    </div>
  </ng-template>
</p-dialog>


