:host {
  display: block;
  height: 100vh;
  box-sizing: border-box;
  padding: 0.5rem;
}

.script-editor-layout {
  display: grid;
  grid-template-columns: 380px 1fr 380px;
  height: 100%;
  gap: 0.75rem;
}

.side-panel,
.main-panel {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

:host app-arc-management-panel,
:host app-target-arc-panel,
:host .main-panel > p-panel {
  flex-grow: 1;
}

:host ::ng-deep .p-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .p-panel .p-panel-content {
  flex-grow: 1;
  overflow-y: auto;
}

:host ::ng-deep .editor-panel .p-panel-content {
  position: relative;
  padding: 20rem;
  overflow: hidden;
}

.monaco-editor-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
