<div *ngIf="isLoading" class="loading-overlay">
  <p-progressSpinner strokeWidth="4"></p-progressSpinner>
  <p>{{ loadingMessage }}</p>
</div>


<div class="script-editor-layout" [class.blurred]="isLoading">

  <div class="top-header">
    <p-button
      icon="pi pi-arrow-left"
      (onClick)="goBack()"
      styleClass="p-button-secondary">
    </p-button>
    <p-inplace #inplace (onActivate)="onActivate()">
      <ng-template #display>
        <span class="text-xl font-bold">{{ scriptPayload?.name }}</span>
      </ng-template>
      <ng-template #content let-closeCallback="closeCallback">
        <span class="inline-flex gap-2">
          <input
            type="text"
            [(ngModel)]="scriptPayload!.name"
            pInputText
            autofocus
            (keyup.enter)="onSave(closeCallback)"/>
          <p-button icon="pi pi-times" aria-label="Save" (click)="onClose(closeCallback)" text severity="danger"/>
          <p-button icon="pi pi-check" aria-label="Save" (click)="onSave(closeCallback)" text severity="success"/>

        </span>
      </ng-template>
    </p-inplace>
  </div>

  <!-- Source System ARCs -->
  <div class="side-panel-source">
    <app-arc-management-panel
      (createArc)="handleCreateArc($event)"
      (cloneArc)="handleCloneArc($event)"
    ></app-arc-management-panel>
  </div>

  <!-- Code Editor Panel -->
  <div class="main-panel">
    <p-panel styleClass="editor-panel">
      <div class="monaco-editor-wrapper">
        <ngx-monaco-editor
          style="width: 100%; height: 100%"
          [options]="editorOptions"
          [(ngModel)]="code"
          (onInit)="onEditorInit($event)"
        ></ngx-monaco-editor>
      </div>

      <ng-template pTemplate="footer">
        <p-button
          label="Save Script"
          icon="pi pi-save"
          (click)="saveScript()"
          [loading]="isSaving"
          [disabled]="isLoading || isSaving || !currentTransformationId"
        ></p-button>
      </ng-template>
    </p-panel>
  </div>

  <!--   Target ARC Panel-->
  <div class="side-panel-target">
    <app-target-arc-panel
      *ngIf="currentTransformationId"
      [transformationId]="currentTransformationId"
    ></app-target-arc-panel>
  </div>
</div>

<app-arc-wizard
  *ngIf="isWizardVisible && wizardContext"
  [visible]="isWizardVisible"
  [context]="wizardContext"
  (onHide)="isWizardVisible = false"
  (onSaveSuccess)="handleArcSave($event)"
>
</app-arc-wizard>
