:host {
  display: block;
  height: calc(100vh - 2.5rem);
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--surface-ground);
}

.script-editor-layout {
  display: grid;
  grid-template-columns: 380px 1fr 380px;
  grid-template-rows: auto 1fr;
  height: 100%;
  gap: 1rem;
}

/* Header Styles */
.page-header {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  background-color: var(--surface-card);
  border: 1px solid var(--surface-border);
  border-radius: var(--border-radius);
}

.script-title-inplace .p-inplace-display {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  transition: background-color 0.2s;
  cursor: pointer;
}
.script-title-inplace .p-inplace-display:hover {
  background-color: var(--surface-hover);
}


/* Main Layout Styles */
.side-panel-source,
.side-panel-target,
.main-panel {
  grid-row: 2;
  min-height: 0;
  position: relative;
}

.main-panel {
  border-radius: var(--border-radius);
  border: 1px solid var(--surface-border);
  overflow: hidden;
}

.side-panel-source,
.side-panel-target {
  display: flex;
  flex-direction: column;
  background-color: var(--surface-card);
  border: 1px solid var(--surface-border);
  border-radius: var(--border-radius);
  overflow: hidden;
}

:host ::ng-deep .side-panel-target .p-panel {
  height: 100%;
  border: none;
  border-radius: 0;
}
:host ::ng-deep .side-panel-target .p-panel .p-panel-header {
  border-radius: 0;
}


/*
  Accordion inside Data Sources
*/
:host ::ng-deep .side-panel-source .p-accordion {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  border: none;
}
