
.script-editor-layout {
  display: grid;
  grid-template-columns: 380px 1fr 380px;
  grid-template-rows: 60px 1fr;
  height: 100%;
  gap: 0.75rem;
}

.top-header {
  grid-column: 1 / -1;
  grid-row: 1;
  display: flex;
  align-items: center;
  gap: 1em;
}

.top-header h2 {
 margin: 1px;
}

.main-panel {
  min-height: 0;
  grid-row: 2;
  grid-column: 2;
}

.side-panel-source {
  grid-column: 1;
}

.side-panel-target{
  grid-column: 3;
}

:host app-arc-management-panel,
:host app-target-arc-panel,
:host .main-panel > p-panel {
  flex-grow: 1;
}

:host ::ng-deep .p-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .p-panel .p-panel-content {
  flex-grow: 1;
  overflow-y: auto;
}

:host ::ng-deep .editor-panel .p-panel-content {
  position: relative;
  padding: 20rem;
  overflow: hidden;
}

.monaco-editor-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
