.script-editor-container {
    position: relative;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-overlay p {
    margin-top: 10px;
    font-size: 1.1em;
}

.blurred > *:not(.loading-overlay) {
  filter: blur(2px);
  pointer-events: none;
}
