main {
    height: 50vh;
    width: 40vw;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 2px 16px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}