@import "primeicons/primeicons.css";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.level.info { color: blue !important; }
.level.warn { color: orange !important; }
.level.error { color: red !important; }
.level.debug { color: green !important; }
.level.trace { color: gray !important; }


