@import '../node-shared.css';

.provider-node {
	background: #00b82e;
	border: 3px solid #005c18;
	color: #fff;
	align-items: flex-start;
	justify-content: center;
}

.node-path {
  padding: 8px;
  max-width: 320px;
  overflow-x: auto;
}

