<div class="header-row">
<p-button
  icon="pi pi-arrow-left"
  (onClick)="goBack()"
  styleClass="p-button-secondary">
</p-button>
<p-inplace #inplace (onActivate)="onInplaceActivate()">
  <ng-template #display>
    <span class="text-xl font-bold">{{syncJob?.name}}</span>
  </ng-template>
  <ng-template #content let-closeCallback="closeCallback">
    <span class="inline-flex gap-2">
        <input
          type="text"
          [(ngModel)]="syncJob!.name"
          pInputText
          autofocus
          (keyup.enter)="onSave(closeCallback)" />
    <p-button icon="pi pi-times" aria-label="Cancel" (click)="onClose(closeCallback)" text severity="danger"/>
    <p-button icon="pi pi-check" aria-label="Save" (click)="onSave(closeCallback)" text severity="success"/>
    </span>
  </ng-template>
</p-inplace>
</div>
<app-transformation-by-sync-job-table></app-transformation-by-sync-job-table>
