<div class="final-node" selectable aria-label="Final node" (mouseenter)="displayTooltips = true"
  (mouseleave)="displayTooltips = false">
  <!-- Node Header -->
  <div class="node-header">
    <span class="node-type">Final</span>
  </div>

  <!-- Node Body -->
  <div class="node-content">
    <div class="description">Final output of the transformation</div>
  </div>

  <!-- I/O Handlers -->
  <handle type="target" position="left" />

  <!-- Tooltips -->
  <div class="tooltip-input" *ngIf="displayTooltips">
    BOOLEAN
  </div>
</div>
