<p-dialog
  header="API Request Configuration (ARC)"
  [(visible)]="visible"
  (onHide)="closeDialog()"
  [modal]="true"
  [style]="{ width: '60vw', 'max-height': '90vh' }"
  [draggable]="false"
  [resizable]="false"
>
  <ng-container *ngIf="context">
    <div class="context-header">
      <span class="http-method" [ngClass]="context.endpoint.httpRequestType.toLowerCase()">
        {{ context.endpoint.httpRequestType }}
      </span>
      <span class="endpoint-path font-mono">
        {{ context.endpoint.endpointPath }}
      </span>
    </div>

    <p-messages [(value)]="errorMessages" [closable]="true"></p-messages>
    <div *ngIf="isLoadingDefinitions" class="text-center p-4">
      <p-progressSpinner></p-progressSpinner>
      <p class="mt-2">Loading parameter definitions...</p>
    </div>

    <form [formGroup]="arcForm" novalidate *ngIf="!isLoadingDefinitions">
      <p-tabView>

        <!-- TAB 1: Configuration -->
        <p-tabPanel header="Configuration">
          <div class="p-fluid mt-3">
            <div class="field col-12 md:col-8">
              <label for="arc-alias">Alias</label>
              <input id="arc-alias" type="text" pInputText placeholder="e.g., getActiveUsers, findCustomerById" formControlName="alias" />
              <small *ngIf="alias?.invalid && (alias?.dirty || alias?.touched)" class="p-error block mt-1">Alias is required.</small>
            </div>
            <div class="field col-12 md:col-8 mt-4">
              <label for="arc-polling-rate">Polling Rate (in milliseconds)</label>
              <p-inputNumber id="arc-polling-rate" formControlName="pollingRate" mode="decimal" [showButtons]="true" [min]="1"></p-inputNumber>
              <small *ngIf="arcForm.get('pollingRate')?.invalid && arcForm.get('pollingRate')?.touched" class="p-error block mt-1">A positive polling rate is required.</small>
            </div>
          </div>
        </p-tabPanel>
        
        <!-- TAB 2: Parameters -->
        <p-tabPanel header="Parameters">
          <p-accordion class="mt-2" [multiple]="true">
            <p-accordionTab header="Path Parameters" *ngIf="pathParamDefinitions.length > 0" [formGroupName]="'pathParameters'">
              <div class="p-fluid grid p-3">
                <div class="field col-12 md:col-6" *ngFor="let param of pathParamDefinitions">
                  <label [for]="'path-' + param.name">
                    {{ param.name }} <span *ngIf="param.required" class="p-error">*</span>
                  </label>
                  <input [id]="'path-' + param.name" type="text" pInputText [formControlName]="param.name" [pTooltip]="param.description" tooltipPosition="top" />
                  <small *ngIf="pathParametersGroup.controls[param.name].invalid && pathParametersGroup.controls[param.name].touched" class="p-error block mt-1">This parameter is required.</small>
                </div>
              </div>
            </p-accordionTab>
            
            <p-accordionTab header="Query Parameters">
              <div [formArrayName]="'queryParameters'">
                <p-table [value]="queryParameters.controls" styleClass="p-datatable-sm">
                  <ng-template pTemplate="caption">
                    <div class="flex align-items-center gap-2 p-2">
                      <p-dropdown [options]="availableQueryParams" optionLabel="name" placeholder="Add predefined" (onChange)="addPredefinedQueryParam($event.value)" #paramDropdown></p-dropdown>
                      <p-button label="Add Custom" icon="pi pi-plus" styleClass="p-button-outlined" (click)="addQueryParam()"></p-button>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 40%">Key</th>
                      <th style="width: 50%">Value</th>
                      <th style="width: 10%"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-param let-i="rowIndex">
                    <tr [formGroupName]="i">
                      <td>
                        <input type="text" pInputText formControlName="key" placeholder="param-key" [readOnly]="param.get('isRequired')?.value"/>
                      </td>
                      <td>
                        <!-- RESTORED: Type-safe inputs using ngSwitch -->
                        <div [ngSwitch]="param.get('type')?.value">
                          <p-inputNumber *ngSwitchCase="'number'" formControlName="value" mode="decimal" [showButtons]="true"></p-inputNumber>
                          <p-inputSwitch *ngSwitchCase="'boolean'" formControlName="value"></p-inputSwitch>
                          <input *ngSwitchDefault type="text" pInputText formControlName="value" placeholder="param-value"/>
                        </div>
                      </td>
                      <td class="text-center">
                        <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-text" (click)="removeQueryParam(i)" [disabled]="param.get('isRequired')?.value"></p-button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </p-accordionTab>

            <p-accordionTab header="Headers">
              <div [formArrayName]="'headerParameters'">
                <p-table [value]="headerParameters.controls" styleClass="p-datatable-sm">
                   <ng-template pTemplate="caption">
                    <div class="flex align-items-center gap-2 p-2">
                      <p-dropdown [options]="availableHeaders" optionLabel="name" placeholder="Add predefined" (onChange)="addPredefinedHeader($event.value)"></p-dropdown>
                      <p-button label="Add Custom" icon="pi pi-plus" styleClass="p-button-outlined" (click)="addHeader()"></p-button>
                    </div>
                  </ng-template>
                  <!-- RESTORED: Full header parameter table functionality -->
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 40%">Key</th>
                      <th style="width: 50%">Value</th>
                      <th style="width: 10%"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-param let-i="rowIndex">
                    <tr [formGroupName]="i">
                      <td>
                        <input type="text" pInputText formControlName="key" placeholder="header-key" [readOnly]="param.get('isRequired')?.value"/>
                      </td>
                      <td>
                        <input type="text" pInputText formControlName="value" placeholder="header-value"/>
                      </td>
                      <td class="text-center">
                        <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-text" (click)="removeHeader(i)" [disabled]="param.get('isRequired')?.value"></p-button>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr><td colspan="3" class="text-center p-3">No custom headers defined.</td></tr>
                  </ng-template>
                </p-table>
              </div>
            </p-accordionTab>
          </p-accordion>
        </p-tabPanel>

        <!-- TAB 3: Test & Review -->
        <p-tabPanel header="Test & Review">
            <div class="flex justify-content-end align-items-center my-3">
                <p-button label="Test API Call" icon="pi pi-cloud-upload" (click)="onTestCall()" [loading]="isTesting" [disabled]="arcForm.invalid"></p-button>
            </div>
            <p-divider></p-divider>
            <div *ngIf="!testResult" class="text-center p-4 text-color-secondary">
                <i class="pi pi-info-circle mr-2"></i>
                <span>Perform a "Test Call" to view response data here.</span>
            </div>
            <app-schema-viewer *ngIf="testResult" [jsonData]="testResult?.responsePayload" [dtsCode]="testResult?.generatedDts"></app-schema-viewer>
        </p-tabPanel>
      </p-tabView>
    </form>
  </ng-container>

  <ng-template pTemplate="footer">
    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-text" (click)="closeDialog()"></p-button>
    <p-button label="Save ARC" icon="pi pi-check" (click)="onSaveArc()" [loading]="isSaving" [disabled]="arcForm.invalid || !testResult?.isSuccess"></p-button>
  </ng-template>
</p-dialog>
