<div class="sidebar-container">
  <div class="sidebar">
    <button (click)="activeTab = 'instances'" [class.active]="activeTab === 'instances'">EDC Instances</button>
    <button (click)="activeTab = 'assets and policies'" [class.active]="activeTab === 'assets and policies'">Data Assets & Policies</button>
  </div>
  <div class="content">
    <app-edc-instances *ngIf="activeTab === 'instances'"></app-edc-instances>
    <app-edc-assets *ngIf="activeTab === 'assets and policies'"></app-edc-assets>
  </div>
</div>
