<!-- MARK: Page Header -->
<div class="page-header">
  <p-button class="return-button" (click)="goBack()">
    Back to Rules
  </p-button>
  <h2>
    Rule Editor - {{ ruleName }}
    <p-button class="config-button" (click)="openRuleConfiguration()">
      <span class="pi pi-cog"></span>
    </p-button>
  </h2>

  <!-- MARK: Toolbar -->
  <div class="node-selection-indicator" *ngIf="selectedNodeType">
    Selected: {{ selectedNodeType }} - Click on canvas to place
  </div>
  <p-toolbar class="toolbar">
    <!-- Add Node Button -->
    <div class="node-palette-trigger-wrapper">
      <p-button class="node-palette-button" (click)="openMainNodePalette()">
        Add Node
      </p-button>
      <div #nodePalette srClickOutside (srClickOutside)="closeNodePalette()">
        <app-node-palette [showMainNodePalette]="showMainNodePalette" [position]="nodePalettePosition"
          (nodeSelected)="onNodeSelected($event)">
        </app-node-palette>
      </div>
    </div>

    <!-- Save Graph Button -->
    <p-button class="save-graph-button" (click)="canvasFacade.saveGraph()">
      <i class="pi pi-save"></i>
      Save Graph
    </p-button>
  </p-toolbar>
</div>

<!-- MARK: Main Body -->
<!-- Graph Canvas -->
<div class="vflow-wrapper" #vflowWrapper>
  <app-vflow-canvas (canvasClick)="onCanvasClick($event)" (canvasRightClick)="onCanvasRightClick($event)"
    (suggestionSelected)="onNodeSelected($event)" (graphErrors)="graphErrors = $event">
  </app-vflow-canvas>
</div>

<!-- Error Panel -->
<app-error-panel [errors]="graphErrors" (errorClicked)="onErrorClicked($event)"></app-error-panel>

<!-- MARK: Modals -->
<!-- Provider Modal -->
<app-provider-node-modal *ngIf="modalOpen === 'provider'" (providerCreated)="onProviderCreated($event)"
  (modalsClosed)="onModalsClosed()">
</app-provider-node-modal>

<!-- Constant Modal -->
<app-constant-node-modal *ngIf="modalOpen === 'constant'" (constantCreated)="onConstantCreated($event)"
  (modalsClosed)="onModalsClosed()">
</app-constant-node-modal>

<!-- Rule Configuration Modal -->
<app-rule-configuration *ngIf="modalOpen === 'config'" [ruleName]="ruleName" [ruleDescription]="ruleDescription"
  (close)="onModalsClosed()" (save)="onRuleConfigurationSaved($event)">
</app-rule-configuration>
