<p-card>
  <p-table
    #dt2
    [value]="items"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['name', 'description', 'status']"
    [tableStyle]="{ 'min-width': '75rem', 'min-height': '45rem'}"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <span class="text-xl font-bold">Sync-Jobs</span>
        <p-button (click)="openCreateDialog()">Create Sync Job</p-button>
      </div>
    </ng-template>
    <ng-template #header>

      <tr>
        <th style="width:25%">Name</th>
        <th style="width:35%">Description</th>
        <th style="width:20%">Status</th>
        <th style="width:20%">Actions</th>
      <tr>
        <th>
          <p-columnFilter type="text" field="name" placeholder="Search by name"
                          ariaLabel="Filter Name"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="description" placeholder="Search by description"
                          ariaLabel="Filter Description"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="isSimulation" matchMode="equals" [showMenu]="false">
            <ng-template #filter let-filter="filterCallback">
              <p-select [(ngModel)]="selectedStatus" [options]="statuses"
                        (onChange)="filter($event.value)"
                        placeholder="Select One"
                        [showClear]="true"
                        [style]="{ 'min-width': '12rem' }">
                <ng-template let-option #item>
                  <p-tag [value]="option.label" [severity]="getSeverity(option.value)"/>
                </ng-template>
              </p-select>
            </ng-template>
          </p-columnFilter>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td>
          {{ item.name }}
        </td>
        <td>
          {{ item.description }}
        </td>
        <td>
          <p-tag [value]="item.isSimulation ? 'In Simulation' : 'active'" [severity]="getSeverity(item.isSimulation)"/>
        </td>
        <td>
          <p-button
            *ngIf="!item.deployed"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-text"
            (click)="edit(item)"
            styleClass="p-button-rounded p-button-text">
          </p-button>
          <p-button
            *ngIf="!item.deployed"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger p-button-text"
            (click)="delete(item)"
            styleClass="p-button-rounded p-button-danger p-button-text">
          </p-button>
          <p-button
            *ngIf="item.deployed"
            icon="pi pi-times"
            class="p-button-rounded p-button-danger p-button-text"
            [loading]="undeployingId === item.id"
            (click)="undeploy(item)"
            styleClass="p-button-rounded p-button-danger p-button-text">
          </p-button>
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="4">
          <div class="empty-message" style="text-align: center">
            <h4>Currently no sync-job available</h4>
            <p>
              Create your first sync-job to get started.
            </p>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
<app-sync-job-creation
  *ngIf="showCreateDialog"
  [(visible)]="showCreateDialog"
  [(selectedSyncJobId)]="selectedSyncJobId">
</app-sync-job-creation>

