.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px; /* Maximale Breite der Suchleiste */
  margin: 0 auto; /* Zentriert die Suchleiste */
}

.search-input {
  flex: 1;
  padding: 0.75rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button {
  padding: 0.75rem 1rem;
  font-size: 1.2rem;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button i {
  font-size: 1.2rem;
}

.search-button:hover {
  background-color: #0056b3;
}
