apiVersion: v1
kind: Secret
metadata:
  name: prometheus-additional-scrape
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  prometheus-additional.yaml: |
    - job_name: 'blackbox_http_sourceSystems'
      metrics_path: /probe
      params:
        module: [http_2xx]
      http_sd_configs:
        - url: http://core-management:80/api/monitoring/prometheus/flat/sources
          refresh_interval: 30s
      relabel_configs:
        # Wichtig: __address__ wird zum Target -> kommt aus SD (muss https:// enthalten)
        - source_labels: [__address__]
          target_label: __param_target
        - source_labels: [__param_target]
          target_label: instance
        - target_label: __address__
          replacement: blackbox-exporter.umbrella.svc.cluster.local:9115

    - job_name: 'blackbox_http_targetSystems'
      metrics_path: /probe
      params:
        module: [http_2xx]
      http_sd_configs:
        - url: http://core-management:80/api/monitoring/prometheus/flat/targets
          refresh_interval: 30s
      relabel_configs:
        - source_labels: [__address__]
          target_label: __param_target
        - source_labels: [__param_target]
          target_label: instance
        - target_label: __address__
          replacement: blackbox-exporter.umbrella.svc.cluster.local:9115


    - job_name: 'blackbox_http_dummyjson'
      metrics_path: /probe
      params:
        module: [http_2xx]
      static_configs:
      - targets:
        - https://dummyjson.com
      relabel_configs:
        - source_labels: [__address__]
          target_label: __param_target
        - source_labels: [__param_target]
          target_label: instance
        - target_label: __address__
          replacement: blackbox-exporter.umbrella.svc.cluster.local:9115

