<div class="node-palette-container">
  <!-- Main Menu -->
  <div id="main-node-palette-menu" *ngIf="showMainNodePalette">
    <div class="node-palette-item" (click)="selectProviderNode()">
      Provider Node
    </div>
    <div class="node-palette-item" (click)="selectLogicNodePalette()">
      Logic Node
    </div>
    <div class="node-palette-item" (click)="selectConstantNode()">
      Constant Node
    </div>
  </div>

  <!-- Logic Groups Sub-Palette -->
  <div id="logic-groups-menu" *ngIf="showLogicGroups" (click)="$event.stopPropagation()">
    <div *ngFor="let groupName of getLogicGroups()" class="node-palette-item" (click)="selectLogicGroup(groupName)">
      <span>{{ groupName }}</span>
    </div>
  </div>

  <!-- Logic Nodes Sub-Palette -->
  <div id="logic-group-submenu" *ngIf="showGroupOperators" (click)="$event.stopPropagation()">
    <div *ngFor="let operator of getOperatorsForGroup(selectedLogicGroup!)" class="node-palette-item"
      (click)="selectLogicOperator(operator)">
      <span>{{ operator.operatorName }}</span>
      <small *ngIf="operator.description">{{ operator.description }}</small>
    </div>
  </div>
</div>
