.tip-button {
  background: none;
  border: none;
  color: #3c7abd;
  cursor: pointer;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.tip-content {
  margin-top: 0.5rem;
  background: #f9f9f9;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  padding: 0.75rem;
  font-size: 0.9rem;
  color: #333;
  width: 100%;
}
.label-row {
  display: flex;
}
