<p>Hallo</p>
<p-panel header="TypeScript Script Editor">
    <div style="height: 60vh; min-height: 400px;">
        <ngx-monaco-editor
            style="height: 100%;"
            [options]="editorOptions"
            [(ngModel)]="code"
            (onInit)="onEditorInit($event)">
        </ngx-monaco-editor>
    </div>
    <ng-template pTemplate="footer">
        <p-button label="Run Script" icon="pi pi-play" (click)="runScript()"></p-button>
    </ng-template>
</p-panel>

<p-panel header="Output" [toggleable]="true" [collapsed]="true" class="p-mt-2">
    <pre>{{ executionResult | json }}</pre>
    <pre *ngIf="executionError" style="color: red;">{{ executionError | json }}</pre>
</p-panel>
