<p-dialog
  header="New Syncjob"
[(visible)]="visible"
(onHide)="cancel()"
[modal]="true"
[style]="{ width: '85vw', maxWidth: '90vw' , minHeight: '45vw' }"
[baseZIndex]="10000"
class="big-dialog">
  <p-stepper [value]="1" class="basis-[50rem]">
    <p-step-list>
      <p-step [value]="1">Define Syncjob</p-step>
      <p-step [value]="2">Add Transformations</p-step>
      <p-step [value]="3">Overview</p-step>
    </p-step-list>
    <p-step-panels>
      <p-step-panel [value]="1">
        <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col h-48 w-full space-y-4">
              <div
                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
              >
                <p-floatlabel variant="on" class="w-80">
                  <input
                    type="text"
                    pInputText
                    id="syncjob_name"
                    placeholder=" "
                    [(ngModel)]="syncJobName"
                    class="w-80"
                  />
                  <label for="syncjob_name">Name</label>
                </p-floatlabel>
              </div>
              <div
                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
              >
                <p-floatlabel variant="on" class="w-80">
                  <textarea
                    pTextarea
                    id="syncjob_description"
                    [(ngModel)]="syncJobDescription"
                    rows="3"
                    cols="30"
                    style="resize: none"
                    class="w-80"
                    placeholder=" "
                  ></textarea>
                  <label for="syncjob_description">Description</label>
                </p-floatlabel>
              </div>
              <div
                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
              >
                <p-floatlabel variant="on" class="w-80">
                  <select
                    [(ngModel)]="selectedSourceSystem"
                    required
                    id="source_system"
                    class="w-80 p-inputtext"
                  >
                    <option [ngValue]="null" disabled selected>Quellsystem auswählen</option>
                    <option *ngFor="let system of sourceSystems" [ngValue]="system">{{ system.name }}</option>
                  </select>
                  <label for="source_system">Sourcesystem</label>
                </p-floatlabel>
              </div>
              <div
                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
              >
                <div class="flex items-center w-80">
                  <label for="simulationSwitch" class="mr-2">Simulation Mode</label>
                  <p-toggleswitch
                    id="simulationSwitch"
                    [(ngModel)]="isSimulation"
                  ></p-toggleswitch>
                </div>
              </div>
            <div class="flex pt-6 justify-end">
              <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)" />
            </div>
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col h-48 w-full">
            <div
              class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-1 flex justify-center items-center font-medium w-full"
            >
              <app-transformation-base class="w-full"></app-transformation-base>
            </div>
            <div class="flex pt-6 justify-end w-full">
              <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)" class="mr-2" />
              <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" />
            </div>
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="3">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col h-48">
            <div
              class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
            >
              <app-sync-job-overview></app-sync-job-overview>
            </div>
          </div>
          <div class="flex pt-6 justify-start">
            <p-button label="Back" icon="pi pi-arrow-left" iconPos="right" (onClick)="activateCallback(2)" />
            <p-button label="Confirm"  (onClick)="createSyncJob()" class="ml-2" />
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>

</p-dialog>
