<div class="log-filters">
  <label>
    Startzeit:
    <input type="datetime-local" [(ngModel)]="startTime" (change)="onFilterChange()" />
  </label>

  <label>
    Endzeit:
    <input type="datetime-local" [(ngModel)]="endTime" (change)="onFilterChange()" />
  </label>

  <label>
    Stream:
    <select [(ngModel)]="stream" (change)="onFilterChange()">
      <option value="stderr">stderr</option>
      <option value="stdout">stdout</option>
    </select>
  </label>

  <label>
    Level:
    <select [(ngModel)]="level" (change)="onFilterChange()">
      <option value="">Alle</option>
      <option value="info">Info</option>
      <option value="warn">Warn</option>
      <option value="error">Error</option>
      <option value="debug">Debug</option>
      <option value="trace">Trace</option>
    </select>
  </label>
</div>

<p-table
  [value]="filteredLogs"
  [scrollable]="true"
  scrollHeight="flex"
  class="log-table"
  [style.width]="'100%'"
  [style.table-layout]="'fixed'"
>

  <ng-template pTemplate="header">
    <tr>
      <th>timestamp</th>
      <th>level</th>
      <th>message</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-log>
    <tr>
      <td class="timestamp">{{ log.timestamp | date: 'short' }}</td>
      <td class="level" [ngClass]="log.level">{{ log.level }}</td>
      <td class="message" style="white-space: normal; word-wrap: break-word; max-width: 400px;">
        {{ log.message }}
      </td>

    </tr>
  </ng-template>
</p-table>

<ng-template #noLogs>
  <p>Keine Logs gefunden für die gewählten Filter.</p>
</ng-template>

