<p-toast></p-toast>

<!-- assets table -->
<div class="card">
  <p-table
    #dtAssets
    [value]="assets"
    dataKey="assetId"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="assetLoading"
    selectionMode="single"
    (onRowSelect)="viewAssetDetails($event)"
    [paginator]="true"
    [globalFilterFields]="['assetId', 'name', 'url', 'type', 'contentType', 'description']"
    [tableStyle]="{ 'min-width': '60rem' }"
    styleClass="p-datatable-striped p-datatable-gridlines"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Assets</h5>
        <div class="flex align-items-center">
          <!-- Search input -->
          <p-iconfield iconPosition="left" class="mr-2">
            <p-inputicon><i class="pi pi-search"></i></p-inputicon>
            <input pInputText type="text" (input)="onGlobalFilter($event, dtAssets)" placeholder="Search keyword" class="w-full"/>
          </p-iconfield>

          <!-- New asset -->
          <button pButton pRipple label="New Asset" icon="pi pi-plus" class="p-button-success" (click)="openNewAssetDialog()"></button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 15%" pSortableColumn="assetId">ID <p-sortIcon field="assetId"></p-sortIcon></th>
        <th style="width: 40%" pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th style="width: 10%" pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon></th>
        <th style="width: 20%" pSortableColumn="contentType">Content Type <p-sortIcon field="contentType"></p-sortIcon></th>
        <th style="width: 15%">Actions</th>
      </tr>
      <tr>
        <th><p-columnFilter type="text" field="assetId" placeholder="Filter by ID"></p-columnFilter></th>
        <th><p-columnFilter type="text" field="name" placeholder="Filter by Name"></p-columnFilter></th>
        <th><p-columnFilter type="text" field="type" placeholder="Filter by Type"></p-columnFilter></th>
        <th><p-columnFilter type="text" field="contentType" placeholder="Filter by Content Type"></p-columnFilter></th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-asset>
      <tr [pSelectableRow]="asset" [pTooltip]="asset.description" tooltipPosition="top">
        <td>{{ asset.assetId }}</td>
        <td>{{ asset.name }}</td>
        <td><p-tag [value]="asset.type"></p-tag></td>
        <td>{{ asset.contentType }}</td>
        <td>
          <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-info mr-2" (click)="editAsset(asset)" pTooltip="Edit Asset"></button>
          <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger" (click)="deleteAsset(asset)" pTooltip="Delete Asset"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr><td [attr.colspan]="5">No assets found.</td></tr>
    </ng-template>
  </p-table>
</div>


<input #fileInput type="file" (change)="onFileSelect($event)" hidden accept=".json" multiple />
<input #policyFileInput type="file" (change)="onPolicyFileSelect($event)" hidden accept=".json" multiple />
<input #contractDefFileInput type="file" (change)="onContractDefFileSelect($event)" hidden accept=".json" multiple />
<input #templateFileInput type="file" (change)="onTemplateFileSelect($event)" hidden accept=".json" />
<input #assetTemplateFileInput type="file" (change)="onAssetTemplateFileSelect($event)" hidden accept=".json" />
<input #accessPolicyTemplateFileInput type="file" (change)="onAccessPolicyTemplateFileSelect($event)" hidden accept=".json" />

<!-- Policies Table -->
<div class="card mt-4">
  <p-table
    #dtPolicies
    [value]="filteredAccessPolicies"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    selectionMode="single"
    (onRowSelect)="viewAccessPolicyDetails($event)"
    [loading]="policyLoading"
    [globalFilterFields]="['id', 'bpn']"
    [tableStyle]="{ 'min-width': '35rem' }"
    styleClass="p-datatable-striped p-datatable-gridlines"
  >

    <ng-template pTemplate="caption">
      <div class="flex justify-content-between align-items-center">
        <h5 class="m-0">Access Policies</h5>

        <div class="flex align-items-center">

          <p-iconfield iconPosition="left" style="margin-right: 0.5rem;">
            <p-inputicon><i class="pi pi-search"></i></p-inputicon>
            <input pInputText type="text"
                   (input)="onGlobalPolicySearch($event)"
                   placeholder="Search keyword" />
          </p-iconfield>

          <button pButton pRipple
                  label="New Access Policy"
                  icon="pi pi-plus"
                  class="p-button-success"
                  (click)="openNewAccessPolicyDialog()"></button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 45%" pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
        <th style="width: 40%" pSortableColumn="bpn">BPN <p-sortIcon field="bpn"></p-sortIcon></th>
        <th style="width: 15%">Actions</th>
      </tr>
      <tr>
        <th><p-columnFilter type="text" field="id" placeholder="Filter by ID"></p-columnFilter></th>
        <th><p-columnFilter type="text" field="bpn" placeholder="Filter by BPN"></p-columnFilter></th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-policy>
      <tr [pSelectableRow]="policy">
        <td>{{ policy.id }}</td>
        <td>{{ policy.bpn }}</td>
        <td>
          <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-info mr-2" pTooltip="Edit Access Policy" (click)="editAccessPolicy(policy)" ></button>
          <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger" pTooltip="Delete Access Policy" (click)="deleteAccessPolicy(policy)"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr><td [attr.colspan]="3">No policies found.</td></tr>
    </ng-template>
  </p-table>
</div>

<!-- Contract Definitions Table -->
<div class="card mt-4">
  <p-table
    #dtContracts
    [value]="filteredContractDefinitions"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    selectionMode="single"
    (onRowSelect)="viewContractDefinitionDetails($event)"
    [loading]="policyLoading"
    [globalFilterFields]="['id', 'assetId', 'bpn']"
    [tableStyle]="{ 'min-width': '60rem' }"
    styleClass="p-datatable-striped p-datatable-gridlines"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Contract Definitions</h5>
        <div class="flex align-items-center">
          <p-iconfield iconPosition="left" class="mr-2">
            <p-inputicon><i class="pi pi-search"></i></p-inputicon>
            <input pInputText type="text" (input)="onGlobalContractDefSearch($event)" placeholder="Search keyword" />
          </p-iconfield>
          <button pButton pRipple label="New Contract Definition" icon="pi pi-plus" class="p-button-success" (click)="openNewContractPolicyDialog()"></button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 35%" pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
        <th style="width: 30%" pSortableColumn="assetId">Asset IDs <p-sortIcon field="assetId"></p-sortIcon></th>
        <th style="width: 20%" pSortableColumn="bpn">BPN <p-sortIcon field="bpn"></p-sortIcon></th>
        <th style="width: 15%">Actions</th>
      </tr>
      <tr>
        <th><p-columnFilter type="text" field="id" placeholder="Filter by ID"></p-columnFilter></th>
        <th><p-columnFilter type="text" field="assetId" placeholder="Filter by Asset ID"></p-columnFilter></th>
        <th><p-columnFilter type="text" field="bpn" placeholder="Filter by BPN"></p-columnFilter></th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-contractPolicy>
      <tr [pSelectableRow]="contractPolicy">
        <td>{{ contractPolicy.id }}</td>
        <td>{{ contractPolicy.assetId }}</td>
        <td>{{ contractPolicy.bpn }}</td>
        <td>
          <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-info mr-2" pTooltip="Edit Contract Definition" (click)="editContractPolicy(contractPolicy)"></button>
          <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger" pTooltip="Delete Contract Definition" (click)="deleteContractPolicy(contractPolicy)"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr><td [attr.colspan]="4">No contract definitions found.</td></tr>
    </ng-template>
  </p-table>
</div>

<!-- DIALOGS -->

<!-- Asset Dialogs -->
<p-dialog header="Create New Asset" [(visible)]="displayNewAssetDialog" [modal]="true" [style]="{ width: '50vw' }" (onHide)="hideNewAssetDialog()" [draggable]="false" [resizable]="false">
  <div class="p-fluid grid pt-3">
    <div class="field col-12">
      <button pButton pRipple type="button" label="Create from JSON File" icon="pi pi-upload" class="p-button-secondary w-full" (click)="fileInput.click()"></button>
    </div>
    <p-divider align="center" type="dashed" styleClass="my-4">
      <b>OR</b>
    </p-divider>
    <div class="field col-12">
      <div class="grid">
        <div class="col-6">
          <p-dropdown [options]="assetTemplates" [(ngModel)]="selectedAssetTemplate" (onChange)="onAssetTemplateChange($event)" optionLabel="name" placeholder="Select a Template" [showClear]="true" styleClass="w-full"></p-dropdown>
        </div>
        <div class="col-6">
          <button pButton pRipple type="button" label="Upload Template from JSON" icon="pi pi-folder-open" class="p-button-outlined w-full" (click)="assetTemplateFileInput.click()"></button>
        </div>
      </div>
    </div>
    <div class="field col-12 mt-3">
      <ngx-monaco-editor id="newAssetJsonEditor" [options]="editorOptions" [(ngModel)]="expertModeJsonContent" style="height: 300px; border: 1px solid var(--surface-d);"></ngx-monaco-editor>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideNewAssetDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveNewAsset()"></button>
  </ng-template>
</p-dialog>

<p-dialog header="Edit Asset" [(visible)]="displayEditAssetDialog" [modal]="true" [style]="{ width: '50vw' }" (onHide)="hideEditAssetDialog()" [draggable]="false" [resizable]="false">
  <ng-container *ngIf="assetToEditODRL">
    <div class="p-fluid grid pt-3">
      <div class="field col-12">
        <label for="editAssetJsonEditor" class="block mb-2">JSON Content</label>
        <ngx-monaco-editor id="editAssetJsonEditor" [options]="editorOptions" [(ngModel)]="expertModeJsonContent" style="height: 400px; border: 1px solid var(--surface-d);"></ngx-monaco-editor>
      </div>
    </div>
  </ng-container>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideEditAssetDialog()"></button>
    <button pButton pRipple label="Save Changes" icon="pi pi-check" class="p-button-text" (click)="saveEditedAsset()"></button>
  </ng-template>
</p-dialog>

<!-- Policy Dialogs -->
<p-dialog [(visible)]="displayNewAccessPolicyDialog" [modal]="true" [style]="{ width: '60vw' }" (onHide)="hideNewAccessPolicyDialog()" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    <div class="flex justify-content-between align-items-center w-full">
      <span class="p-dialog-title">Create New Access Policy</span>
    </div>
  </ng-template>

  <div class="p-fluid grid pt-3">
    <div class="field col-12">
      <button pButton pRipple type="button" label="Create from JSON File" icon="pi pi-upload" class="p-button-secondary w-full" (click)="policyFileInput.click()"></button>
    </div>
    <p-divider align="center" type="dashed" styleClass="my-4">
      <b>OR</b>
    </p-divider>
    <div class="field col-12">
      <div class="grid">
        <div class="col-6">
          <p-dropdown [options]="accessPolicyTemplates" [(ngModel)]="selectedAccessPolicyTemplate" (onChange)="onAccessPolicyTemplateChange($event)" optionLabel="name" placeholder="Select a Template" [showClear]="true" styleClass="w-full"></p-dropdown>
        </div>
        <div class="col-6">
          <button pButton pRipple type="button" label="Upload Template from JSON" icon="pi pi-folder-open" class="p-button-outlined w-full" (click)="accessPolicyTemplateFileInput.click()"></button>
        </div>
      </div>
    </div>

    <div *ngIf="isPolicyJsonComplex" class="col-12">
      <p-message severity="warn" text="The policy structure is too complex for this form. Please edit the JSON directly."></p-message>
    </div>

    <div class="field col-12 md:col-6">
      <label for="apAction" class="font-bold block mb-2">Action</label>
      <p-dropdown id="apAction" [options]="actionOptions" [(ngModel)]="formAction" (onChange)="syncJsonFromForm()" styleClass="w-full" [appendTo]="'body'" [disabled]="isPolicyJsonComplex"></p-dropdown>
    </div>

    <!-- Dynamic Constraints Section -->
    <ng-container *ngFor="let constraint of formConstraints; let i = index">
      <div class="field col-12 md:col-6">
        <label class="font-bold block mb-2">{{ constraint.label }}</label>
        <div class="grid p-fluid">
          <div class="col-6">
            <label [for]="'constraintOp' + i">Operator</label>
            <p-dropdown [id]="'constraintOp' + i" [options]="operatorOptions" [(ngModel)]="constraint.operator" (onChange)="syncJsonFromForm()" [appendTo]="'body'" [disabled]="isPolicyJsonComplex"></p-dropdown>
          </div>
          <div class="col-6">
            <label [for]="'constraintVal' + i">{{ constraint.valueLabel }}</label>
            <input [id]="'constraintVal' + i" type="text" pInputText [(ngModel)]="constraint.rightOperand" (ngModelChange)="syncJsonFromForm()" [disabled]="isPolicyJsonComplex"/>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="field col-12 mt-3">
      <label class="font-bold block mb-2">JSON Editor</label>
      <ngx-monaco-editor id="newAccessPolicyJsonEditor" [options]="editorOptions" [(ngModel)]="expertModeJsonContent" (ngModelChange)="syncFormFromJsonWithDebounce()" style="height: 300px; border: 1px solid var(--surface-d);"></ngx-monaco-editor>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideNewAccessPolicyDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveNewAccessPolicy()"></button>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="displayEditAccessPolicyDialog"
  [modal]="true"
  [style]="{ width: '60vw' }"
  (onHide)="hideEditAccessPolicyDialog()"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <span class="p-dialog-title">Edit Access Policy</span>
  </ng-template>
  <ng-container *ngIf="policyToEditODRL">
    <div class="p-fluid grid pt-3">
      <div *ngIf="isPolicyJsonComplex" class="col-12">
        <p-message severity="warn" text="The policy structure is too complex for this form. Please edit the JSON directly."></p-message>
      </div>

      <div class="field col-12 md:col-6">
        <label for="edit_apAction" class="font-bold block mb-2">Action</label>
        <p-dropdown id="edit_apAction" [options]="actionOptions" [(ngModel)]="formAction" (onChange)="syncJsonFromForm()" styleClass="w-full" [appendTo]="'body'" [disabled]="isPolicyJsonComplex"></p-dropdown>
      </div>

      <!-- Dynamic Constraints Section -->
      <ng-container *ngFor="let constraint of formConstraints; let i = index">
        <div class="field col-12 md:col-6">
          <label class="font-bold block mb-2">{{ constraint.label }}</label>
          <div class="grid p-fluid">
            <div class="col-6">
              <label [for]="'edit_constraintOp' + i">Operator</label>
              <p-dropdown [id]="'edit_constraintOp' + i" [options]="operatorOptions" [(ngModel)]="constraint.operator" (onChange)="syncJsonFromForm()" [appendTo]="'body'" [disabled]="isPolicyJsonComplex"></p-dropdown>
            </div>
            <div class="col-6">
              <label [for]="'edit_constraintVal' + i">{{ constraint.valueLabel }}</label>
              <input [id]="'edit_constraintVal' + i" type="text" pInputText [(ngModel)]="constraint.rightOperand" (ngModelChange)="syncJsonFromForm()" [disabled]="isPolicyJsonComplex"/>
            </div>
          </div>
        </div>
      </ng-container>
        <div class="field col-12 mt-3">
            <label class="font-bold block mb-2">JSON Editor</label>
            <ngx-monaco-editor id="editAccessPolicyJsonEditor" [options]="editorOptions" [(ngModel)]="expertModeJsonContent" (ngModelChange)="syncFormFromJsonWithDebounce()" style="height: 400px; border: 1px solid var(--surface-d);"></ngx-monaco-editor>
        </div>
    </div>
  </ng-container>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideEditAccessPolicyDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save Changes"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveEditedAccessPolicy()"
    ></button>
  </ng-template>
</p-dialog>


<!-- new contract definition dialog -->
<p-dialog [(visible)]="displayNewContractPolicyDialog"
          [style]="{width: '70vw', height: '80vh'}"
          [modal]="true"
          [contentStyle]="{ 'overflow-y': 'auto' }"
          class="p-fluid"
          (onHide)="hideNewContractPolicyDialog()"
          [draggable]="false"
          [resizable]="false">
  <ng-template pTemplate="header">
    <div class="flex justify-content-between align-items-center w-full">
      <span class="p-dialog-title">Create New Contract Definition</span>
    </div>
  </ng-template>

  <div class="p-fluid grid pt-3">
    <div class="field col-12">
      <button pButton pRipple type="button" label="Import from JSON File" icon="pi pi-upload" class="p-button-secondary w-full" (click)="contractDefFileInput.click()"></button>
    </div>

    <p-divider align="center" type="dashed" styleClass="my-4"><b>OR</b></p-divider>

    <div *ngIf="isContractJsonComplex" class="col-12">
      <p-message severity="warn" text="The contract definition is too complex for the simple form. Please edit the JSON directly."></p-message>
    </div>

    <div class="field col-12">
      <label class="font-bold block mb-2">Start with a Template (Optional)</label>
      <div class="grid">
        <div class="col-6">
          <p-dropdown [options]="contractDefinitionTemplates" [(ngModel)]="selectedTemplate" (onChange)="onTemplateChange($event)" optionLabel="name" placeholder="Select Template" [showClear]="true" styleClass="w-full"></p-dropdown>
        </div>
        <div class="col-6">
          <button pButton pRipple type="button" label="Upload Template" icon="pi pi-folder-open" class="p-button-outlined w-full" (click)="templateFileInput.click()"></button>
        </div>
      </div>
    </div>

    <div class="field col-12">
      <label for="cdAccessPolicy" class="font-bold block mb-2">Select Access Policy</label>
      <p-autoComplete
        id="cdAccessPolicy"
        [(ngModel)]="newContractPolicy.accessPolicyId"
        [suggestions]="accessPolicySuggestions"
        (completeMethod)="searchAccessPolicies($event)"
        (onSelect)="syncJsonFromContractForm()"
        (onClear)="syncJsonFromContractForm()"
        field="bpn"
        [forceSelection]="true"
        placeholder="Type BPN or Policy ID"
        styleClass="w-full"
        inputStyleClass="w-full"
        [appendTo]="'body'"
        [disabled]="isContractJsonComplex">
        <ng-template let-policy pTemplate="item">
          <div>{{ policy.bpn }} ({{ policy.id }})</div>
        </ng-template>
      </p-autoComplete>
    </div>

    <div class="field col-12">
        <label for="cdAssets" class="font-bold block mb-2">Select Assets</label>
        <p-autoComplete
          id="cdAssets"
          [(ngModel)]="selectedAssetsInDialog"
          [suggestions]="assetIdSuggestions"
          (completeMethod)="searchAssets($event)"
          (onSelect)="syncJsonFromContractForm()"
          (onUnselect)="syncJsonFromContractForm()"
          (onClear)="syncJsonFromContractForm()"
          field="name"
          [multiple]="true"
          placeholder="Search by Asset Name or ID"
          styleClass="w-full"
          inputStyleClass="w-full"
          [appendTo]="'body'"
          [disabled]="isContractJsonComplex">
          <ng-template let-asset pTemplate="item">
            <div>{{ asset.name }} ({{ asset.assetId }})</div>
          </ng-template>
        </p-autoComplete>
    </div>

    <div class="field col-12 mt-2">
      <label class="font-bold block mb-2">JSON Editor</label>
      <ngx-monaco-editor id="expertJsonEditor" [options]="editorOptions" [(ngModel)]="expertModeJsonContent" (ngModelChange)="syncContractFormFromJsonWithDebounce()" style="height: 300px; border: 1px solid var(--surface-d);"></ngx-monaco-editor>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideNewContractPolicyDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveNewContractDefinition()"></button>
  </ng-template>
</p-dialog>

<!-- Edit contract definition dialog -->
<p-dialog [(visible)]="displayEditContractPolicyDialog"
          header="Edit Contract Definition"
          [style]="{width: '70vw', height: '80vh'}"
          [modal]="true"
          [contentStyle]="{ 'overflow-y': 'auto' }"
          class="p-fluid"
          (onHide)="hideEditContractPolicyDialog()"
          [draggable]="false"
          [resizable]="false">

  <ng-template pTemplate="header">
    <div class="flex justify-content-between align-items-center w-full">
      <span class="p-dialog-title">Edit Contract Definition</span>
      <button pButton pRipple type="button" [label]="isExpertMode ? 'Normal Mode' : 'Expert Mode'" [icon]="isExpertMode ? 'pi pi-user' : 'pi pi-code'" class="p-button-text" (click)="toggleEditExpertMode()" [disabled]="isComplexSelectorForEdit"></button>
    </div>
  </ng-template>

  <ng-container *ngIf="contractPolicyToEdit">
    <!-- Normal Mode -->
    <div *ngIf="!isExpertMode" class="flex flex-column flex-grow-1 overflow-hidden">
      <div class="col-12">
        <label for="editCdAccessPolicy" class="font-bold block mb-2">Select Access Policy</label>
        <p-autoComplete
          id="editCdAccessPolicy"
          [(ngModel)]="contractPolicyToEdit.accessPolicyId"
          [suggestions]="accessPolicySuggestions"
          (completeMethod)="searchAccessPolicies($event)"
          field="bpn"
          [forceSelection]="true"
          placeholder="Type BPN or Policy ID"
          styleClass="w-full"
          inputStyleClass="w-full"
          [appendTo]="'body'">
          <ng-template let-policy pTemplate="item">
            <div>{{ policy.bpn }} ({{ policy.id }})</div>
          </ng-template>
        </p-autoComplete>
      </div>

      <div class="col-12 mt-4 flex flex-column flex-grow-1 overflow-hidden">
        <label class="font-bold block mb-2">Select Assets and their Operators</label>
        <p-table
          #dtEditDialogAssets
          [value]="assetsForDialog"
          [(selection)]="selectedAssetsInDialog"
          dataKey="assetId"
          [rows]="5"
          [paginator]="true"
          [globalFilterFields]="['assetId', 'name', 'type']"
          styleClass="p-datatable-sm"
          [tableStyle]="{'min-width': '50rem'}"
          [scrollable]="true"
          scrollHeight="flex"
        >
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-end">
              <p-iconfield iconPosition="left">
                <p-inputicon><i class="pi pi-search"></i></p-inputicon>
                <input #editDialogAssetSearch pInputText type="text" (input)="dtEditDialogAssets.filterGlobal(editDialogAssetSearch.value, 'contains')" placeholder="Search Assets..." />
              </p-iconfield>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
              <th style="width: 50%" pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
              <th style="width: 50%" pSortableColumn="assetId">ID <p-sortIcon field="assetId"></p-sortIcon></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-asset>
            <tr>
              <td><p-tableCheckbox [value]="asset"></p-tableCheckbox></td>
              <td>{{ asset.name }}</td>
              <td>{{ asset.assetId }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr><td colspan="3">No assets available.</td></tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!-- Expert Mode -->
    <div *ngIf="isExpertMode" class="p-fluid grid pt-3">
      <div class="field col-12">
        <label for="editExpertJsonEditor" class="block mb-2">JSON Content</label>
        <ngx-monaco-editor id="editExpertJsonEditor" [options]="editorOptions" [(ngModel)]="expertModeJsonContent" style="height: 550px; border: 1px solid var(--surface-d);"></ngx-monaco-editor>
      </div>
    </div>
  </ng-container>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideEditContractPolicyDialog()"></button>
    <button pButton pRipple label="Save Changes" icon="pi pi-check" class="p-button-text" (click)="saveEditedContractPolicy()"></button>
  </ng-template>
</p-dialog>

<!-- Read-only View Dialog -->
<p-dialog
  [header]="viewDialogHeader"
  [(visible)]="displayViewDialog"
  [modal]="true"
  [style]="{ width: '60vw' }"
  (onHide)="hideViewDialog()"
  [draggable]="false"
  [resizable]="false"
>
  <ng-container [ngSwitch]="viewingEntityType">
    <!-- Simple JSON view for Assets and Policies -->
    <ng-container *ngSwitchCase="'asset'">
      <ngx-monaco-editor [options]="readOnlyEditorOptions" [(ngModel)]="jsonToView" style="height: 60vh; border: 1px solid var(--surface-d);"></ngx-monaco-editor>
    </ng-container>
    <ng-container *ngSwitchCase="'policy'">
      <ngx-monaco-editor [options]="readOnlyEditorOptions" [(ngModel)]="jsonToView" style="height: 60vh; border: 1px solid var(--surface-d);"></ngx-monaco-editor>
    </ng-container>

    <!-- Tabbed view for Contract Definitions -->
    <ng-container *ngSwitchCase="'contract'">
      <p-tabView>
        <p-tabPanel header="Details">
          <div class="p-4">
            <h5 class="mt-0 mb-3">Linked Access Policy</h5>
            <div *ngIf="linkedAccessPolicy; else noPolicy" class="surface-card p-3 border-round">
              <div class="font-medium mb-2">ID: <span class="font-normal text-color-secondary">{{ linkedAccessPolicy.id }}</span></div>
              <div class="font-medium">BPN: <span class="font-normal text-color-secondary">{{ linkedAccessPolicy.bpn }}</span></div>
            </div>
            <ng-template #noPolicy><p>No linked access policy found.</p></ng-template>

            <h5 class="mt-4 mb-3">Linked Assets ({{ linkedAssets.length }})</h5>
            <p-table [value]="linkedAssets" [rows]="5" [paginator]="true" styleClass="p-datatable-sm">
              <ng-template pTemplate="header">
                <tr>
                  <th>Name</th>
                  <th>ID</th>
                  <th>Type</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-asset>
                <tr>
                  <td>{{ asset.name }}</td>
                  <td>{{ asset.assetId }}</td>
                  <td><p-tag [value]="asset.type"></p-tag></td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr><td colspan="3">No linked assets found.</td></tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Raw JSON">
          <ngx-monaco-editor [options]="readOnlyEditorOptions" [(ngModel)]="jsonToView" style="height: 60vh; border: 1px solid var(--surface-d);"></ngx-monaco-editor>
        </p-tabPanel>
      </p-tabView>
    </ng-container>
  </ng-container>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Close" icon="pi pi-times" class="p-button-text" (click)="hideViewDialog()"></button>
  </ng-template>
</p-dialog>

<!-- Confirmation Dialog -->
<p-confirmDialog [style]="{width: '450px'}" acceptButtonStyleClass="p-button-danger"></p-confirmDialog>
