
:host ::ng-deep .nested-table .p-datatable-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
}

:host ::ng-deep .nested-table .p-datatable-thead > tr > th {
  background-color: rgba(0, 0, 0, 0.05);
}


:host ::ng-deep .nested-table.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03);
}


:host ::ng-deep .nested-table .p-datatable-tbody > tr:hover {
  background-color: rgba(0, 0, 0, 0.07) !important;
}

:host ::ng-deep .nested-table .p-datatable-tbody > tr > td,
:host ::ng-deep .nested-table .p-datatable-thead > tr > th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

:host ::ng-deep .nested-table .p-datatable-tbody > tr:last-child > td {
  border-bottom: 0;
}
