# Requirements Engineering

## Requirements Elicitation:
### Wichtige Themen:
	- Erhebung (nicht)-funktionaler Anforderungen
	- Erfassung aller Stakeholder
	- Erfassung der Workflows der wichtigsten Stakeholder (Administrator, Engineer, 	  AAS, EDC, User, usw.)
### Vorbereitung für das Meeting:
	- Artefakte zur Erhebung funktionaler Anforderungen (Use-Case, User Stories)
	- Artefakte zur Erhebung nicht-funktionaler Anforderungen (NFA-Template)
	- Vorläufiges System einführen in welchem Informationen gemanaged werden können


## Requirements Analysis:
### Wichtige Themen:
	- Konflikt-Analyse zu Stakeholdern (Kano-Modell)
	- Klassifizierung der Anforderungen (IEEE Std. 830-1998 + evtl. mehr Dimensionen)
	- Konsistenzprüfung (Widersprüche auflösen)
 	- Abstraktionshierarchien definieren (Ziele des Systems, Stakeholder, User, usw.)


## Requirements Specification/Documentation:
### Wichtige Themen:
	- Nicht-funktionale Anforderungen spezifizieren (ISO 25010)
	- Funktionale Anforderungen spezifizieren (IEEE 29148,  Use Cases/Stories, usw.)
	- Story Maps und Epic-Strukturen etablieren
	- Lastenheft (Kundenansicht) und Pflichtenheft (Anbieteransicht)
	

## Requirements Verification/Validation:
### Wichtige Themen:
	- Prototyping zur Validierung mit Stakeholdern
	- Reviews mit Stakeholdern
	- Checklisten zu Anforderungen (Eindeutig, messbar, testbar, nachvollziehbar, usw.)


## Requirements Management:
### Wichtige Themen:
	- Traceability der Informationen (vertikal, horizontal) 
	- Versionsverwaltung
	- Change Control Policy einrichten (Wer hat welche Rechte bei Anforderungsänderung, 	  Freigabe, Bewertung usw.)



### Fragen:
	- Weitere Stakeholder nennen
	- aktuellen Workflow der Stakeholder (Administrator, Engineer, AAS, EDC, usw.)