@import '../node-shared.css';

.config-node {
  background: #f5f5f5;
  border: 3px solid #bdbdbd;
  color: #222;
}

.node-mode {
  background: rgba(0, 0, 0, 0.05);
}

.node-time-window {
  color: rgb(77,77,77);
}
