<p-dialog
  header="Create New Target ARC"
  [(visible)]="visible"
  (onHide)="closeDialog()"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
>
  <form [formGroup]="wizardForm" class="form-container">
    <!-- Basic Information -->
    <div class="form-field">
        <label for="alias">Alias</label>
        <input id="alias" pInputText formControlName="alias" placeholder="e.g. synchronizeProducts">
    </div>

    <div class="form-field">
      <label for="targetSystem">Target System</label>
      <p-select
        id="targetSystem"
        [options]="(targetSystems$ | async) || []"
        optionLabel="name"
        optionValue="id"
        formControlName="targetSystemId"
        placeholder="Select Target System"
        [showClear]="true"
      ></p-select>
    </div>

    <div class="form-field">
      <label for="arcPatternType">ARC Type</label>
      <p-select
        id="arcPatternType"
        [options]="arcPatternTypes"
        formControlName="arcPatternType"
        optionLabel="label"
        optionValue="value"
      ></p-select>
    </div>

    <!-- Endpoint Selection -->
    <ng-container *ngIf="wizardForm.get('targetSystemId')?.value">
      <div class="flex justify-content-center my-2" *ngIf="isLoadingEndpoints">
        <p-progressSpinner styleClass="w-3rem h-3rem"></p-progressSpinner>
      </div>

      <ng-container *ngIf="!isLoadingEndpoints">
        <div class="form-field">
          <label for="checkEndpoint">CHECK (GET)</label>
          <p-select
            id="checkEndpoint"
            [options]="endpointSuggestions$ | async | filterByHttpMethod : 'GET'"
            formControlName="checkEndpointId"
            placeholder="GET-Endpoint for existence check"
            optionLabel="endpointPath"
            optionValue="id"
            [showClear]="true"
          ></p-select>
        </div>
        <div class="form-field">
          <label for="createEndpoint">CREATE (POST)</label>
          <p-select
            id="createEndpoint"
            [options]="endpointSuggestions$ | async | filterByHttpMethod : 'POST'"
            formControlName="createEndpointId"
            placeholder="POST-Endpoint for creation"
            optionLabel="endpointPath"
            optionValue="id"
            [showClear]="true"
          ></p-select>
        </div>
        <div class="form-field">
          <label for="updateEndpoint">UPDATE (PUT)</label>
          <p-select
            id="updateEndpoint"
            [options]="endpointSuggestions$ | async | filterByHttpMethod : 'PUT'"
            formControlName="updateEndpointId"
            placeholder="PUT-Endpoint for updates"
            optionLabel="endpointPath"
            optionValue="id"
            [showClear]="true"
          ></p-select>
        </div>
      </ng-container>
    </ng-container>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      label="Cancel"
      icon="pi pi-times"
      styleClass="p-button-text"
      (click)="closeDialog()"
    ></p-button>
    <p-button
      label="Save"
      icon="pi pi-check"
      (click)="onSave()"
      [loading]="isSaving"
      [disabled]="wizardForm.invalid"
    ></p-button>
  </ng-template>
</p-dialog>
