<p-dialog
  header="Create New Target ARC"
  [(visible)]="visible"
  (onHide)="closeDialog()"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [baseZIndex]="10000"
>
  <form [formGroup]="wizardForm" class="form-container">
    <!-- Basic Information -->
    <div class="form-field">
      <label for="alias">Alias</label>
      <input
        id="alias"
        pInputText
        formControlName="alias"
        placeholder="e.g. synchronizeProducts"
      />
    </div>

    <div class="form-field">
      <label for="targetSystem">Target System</label>
      <!-- 2. Change [appendTo] to the string "body" for ALL dropdowns. -->
      <p-select
        id="targetSystem"
        [options]="(targetSystems$ | async) || []"
        optionLabel="name"
        optionValue="id"
        formControlName="targetSystemId"
        placeholder="Select Target System"
        [showClear]="true"
        appendTo="body"
      ></p-select>
    </div>

    <div class="form-field">
      <label for="arcPatternType">ARC Type</label>
      <p-select
        id="arcPatternType"
        [options]="arcPatternTypes"
        formControlName="arcPatternType"
        optionLabel="label"
        optionValue="value"
        appendTo="body"
      ></p-select>
    </div>

    <!-- Endpoint Selection -->
    <ng-container *ngIf="wizardForm.get('targetSystemId')?.value">
      <div class="flex justify-content-center my-2" *ngIf="isLoadingEndpoints">
        <p-progressSpinner styleClass="w-3rem h-3rem"></p-progressSpinner>
      </div>

      <ng-container *ngIf="!isLoadingEndpoints">
        <div class="form-field">
          <label for="checkEndpoint">CHECK (GET)</label>
          <p-select
            id="checkEndpoint"
            [options]="(endpointSuggestions$ | async) || []"
            formControlName="checkEndpointId"
            placeholder="GET-Endpoint for existence check"
            optionLabel="endpointPath"
            optionValue="id"
            [showClear]="true"
            appendTo="body"
          >
            <ng-template let-endpoint pTemplate="item">
              <div class="endpoint-option">
                <span class="font-bold mr-2">{{
                  endpoint.httpRequestType
                }}</span>
                <span>{{ endpoint.endpointPath }}</span>
              </div>
            </ng-template>
          </p-select>
        </div>
        <div class="form-field">
          <label for="createEndpoint">CREATE (POST)</label>
          <p-select
            id="createEndpoint"
            [options]="(endpointSuggestions$ | async) || []"
            formControlName="createEndpointId"
            placeholder="POST-Endpoint for creation"
            optionLabel="endpointPath"
            optionValue="id"
            [showClear]="true"
            appendTo="body"
          >
            <ng-template let-endpoint pTemplate="item">
              <div class="endpoint-option">
                <span class="font-bold mr-2">{{
                  endpoint.httpRequestType
                }}</span>
                <span>{{ endpoint.endpointPath }}</span>
              </div>
            </ng-template>
          </p-select>
        </div>
        <div class="form-field">
          <label for="updateEndpoint">UPDATE (PUT)</label>
          <p-select
            id="updateEndpoint"
            [options]="(endpointSuggestions$ | async) || []"
            formControlName="updateEndpointId"
            placeholder="PUT-Endpoint for updates"
            optionLabel="endpointPath"
            optionValue="id"
            [showClear]="true"
            appendTo="body"
          >
            <ng-template let-endpoint pTemplate="item">
              <div class="endpoint-option">
                <span class="font-bold mr-2">{{
                  endpoint.httpRequestType
                }}</span>
                <span>{{ endpoint.endpointPath }}</span>
              </div>
            </ng-template>
          </p-select>
        </div>
      </ng-container>
    </ng-container>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      label="Cancel"
      icon="pi pi-times"
      styleClass="p-button-text"
      (click)="closeDialog()"
    ></p-button>
    <p-button
      label="Save"
      icon="pi pi-check"
      (click)="onSave()"
      [loading]="isSaving"
      [disabled]="wizardForm.invalid"
    ></p-button>
  </ng-template>
</p-dialog>
