@import "primeicons/primeicons.css";
:root {
  /* Typografie */
  --p-font-family-base:     'Inter', sans-serif;
  --p-font-size-base:       16px;
  --p-font-size-sm:         14px;
  --p-font-size-lg:         18px;
  --p-line-height-base:     1.5;
  --p-font-weight-normal:   400;
  --p-font-weight-bold:     600;
}

/* 2. Global Reset / Base Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root, app-root {
  width: 100%;
  height: 100%;
  font-family: var(--p-font-family-base);
  font-size: var(--p-font-size-base);
  line-height: var(--p-line-height-base);
  background-color: var(--p-surface);
  color: var(--p-text-color);
}
