name: build application

on:
  pull_request:
    branches:
      - main  

jobs:
  build:
    runs-on: self-hosted-1

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'  

      - name: Build with Maven
        run: mvn clean install --batch-mode
