.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
    box-shadow: 2px 0 5px rgba(0,0,0,0.05);
    padding: 1rem;
    z-index: 100;
}

.returnButton {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

.infoCard {
    margin-left: 599px;
}