<div class="logic-node">
  <!-- Node Header -->
  <div class="node-header">
    <span class="node-type">Logic</span>
  </div>

  <!-- Node Body -->
  <div class="node-content">
    <h4>{{ node().data?.name }}</h4>
    <div class="operator-type">{{ node().data?.operatorType}}</div>
    <div class="operator-category">{{ node().data?.category }}</div>
    <div class="output-type">
      <strong>Output:</strong> {{ node().data?.outputType }}
    </div>
  </div>

  <!-- I/O Handlers -->
  <handle type="target" position="left" />
  <handle type="source" position="right" />
</div>
